@font-face {
  font-family: "Font Icons";
  src: url("./icons.eot");
  src: url("./icons.eot");
  src: url("./icons.eot") format("embedded-opentype"),
    url("./icons.woff") format("woff"), url("./icons.ttf") format("truetype"),
    url("./icons.svg") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.fi {
  font-family: "Font Icons";
}

.icon-social-x:before {
  content: "\e800";
}
.icon-discord:before {
  content: "\e801";
}
.icon-tg:before {
  content: "\e802";
}
.icon-arrow:before {
  content: "\e803";
}
.icon-menu-burger:before {
  content: "\e804";
}
