<form>
  <div role="radiogroup" aria-label="Методы оплаты" class="methods-container">
    @for (method of methods$|async; track method.id) {
    <button
      class="method"
      type="button"
      role="radio"
      [class.method_selected]="selectedMethod()?.id === method.id"
      [attr.aria-selected]="selectedMethod()?.id === method.id"
      (click)="selectedMethod.set(method)"
      matRipple
      matRippleColor="#ffffff08"
      [disabled]="pending()"
    >
      <div class="method__preview-wrapper">
        <img
          class="method__preview"
          [ngSrc]="method.image"
          loading="lazy"
          height="30"
          width="30"
          alt=""
          aria-hidden="true"
        />
      </div>
      <span class="method__name">{{ method.name }}</span>
    </button>
    }
  </div>

  <button
    mat-flat-button
    type="submit"
    color="primary"
    (click)="onSubmit()"
    [disabled]="pending()"
  >
    @if (!pending()) { Продолжить } @else {
    <mat-spinner [diameter]="26" [strokeWidth]="3" />
    }
  </button>
</form>
