.mdc-button {
  --mdc-text-button-container-height: 40px;
  --mdc-filled-button-container-height: 40px;
  --mdc-outlined-button-container-height: 40px;
  --mdc-protected-button-container-height: 40px;
  --mdc-filled-button-label-text-color: #f4f4f4;
}
