@use "@angular/material" as mat;

@include mat.core();

$primary-color: #289cff;

$accent-color: #222222;

$error-color: #d03a3a;

$primary-colors: (
  500: $primary-color,
  700: $primary-color,
  900: $primary-color,
  contrast: (),
);

$accent-colors: (
  500: $accent-color,
  700: $accent-color,
  900: $accent-color,
  contrast: (),
);

$warn-colors: (
  100: $error-color,
  500: $error-color,
  700: $error-color,
  contrast: (),
);

$theme: mat.define-dark-theme(
  (
    color: (
      primary: mat.define-palette($primary-colors, 500, 900),
      accent: mat.define-palette($accent-colors, 500, 900),
      warn: mat.define-palette($warn-colors, 500),
    ),
  )
);

@include mat.all-component-themes($theme);

@import "./mat-icon";
@import "./mat-button";
@import "./mat-form-field";
@import "./mat-snackbar";
