<div class="pm-container tw-min-h-32 tw-px-2.5 tw-content-center tw-gap-2.5">
  <p class="tw-text-base tw-text-center">
    Система отклонила ваш платеж. Вы можете создать новый на сайте магазина.
    <br />
    Если у вас есть вопросы, обратитесь в поддержку.
  </p>

  <a
    mat-flat-button
    color="secondary"
    [href]="supportLink$ | async"
    target="_blank"
    rel="noopener"
    class="tw-justify-self-center"
  >
    Поддержка
  </a>
</div>

<a mat-flat-button color="primary" [href]="returnUrl$ | async">
  Вернуться на сайт
</a>
