<header class="row">
  <a
    href="https://transfera.io/"
    target="_blank"
    rel="noopener"
    aria-label="Go to payment provider Transfera"
  >
    <img
      ngSrc="/assets/images/logo.svg"
      width="40"
      height="40"
      alt="Transfera logo"
    />
  </a>
  <a
    *ngVar="(pageConfig$ | async)?.supportLink as link"
    [href]="link"
    [disabled]="!link"
    mat-flat-button
    color="accent"
  >
    Поддержка
  </a>
</header>

<div class="window" id="content">
  @switch (state()) { @case (PageStates.PENDING) {
  <div class="tw-grid tw-py-10 tw-justify-center">
    <mat-spinner [diameter]="90" [strokeWidth]="7" />
  </div>
  } @case (PageStates.ORDER_CREATING) {
  <pm-order-creating
    (destroyed)="maxWidth.set(null)"
    (viewInited)="maxWidth.set('400px')"
  />
  } @case (PageStates.ORDER) {
  <pm-order />
  } @case (PageStates.WRONG_DATA) { Wrong data } }
</div>

<footer>
  <span id="copyright">© Transfera</span>
</footer>
