@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./styles/material/mat-theme";
@import "./styles/reset";
@import "./styles/components";

body {
  @extend .csd-scroll;
  background-color: #101010;

  @apply tw-bg-cover tw-bg-center tw-bg-no-repeat;
  background-image: url("/assets/images/main-bg.svg");
  height: 100%;
}

html,
body,
pm-root {
  @apply tw-min-h-screen tw-grid tw-p-0 tw-m-0;
  @apply tw-text-white;
}

.dragstarted * {
  pointer-events: none !important;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
}

.pm-container {
  @apply tw-bg-secondary tw-rounded-[5px] tw-px-2.5 tw-grid;
}

.pm-alert {
  @apply tw-text-warn tw-pl-[22px] tw-relative;

  &::before {
    content: "";
    @apply tw-block tw-w-[17px] tw-h-[15px];
    @apply tw-bg-cover tw-bg-center tw-bg-no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17' height='15' viewBox='0 0 17 15' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.94372 0.25862C8.74651 -0.0862075 8.25349 -0.0862063 8.05628 0.258621L0.0694072 14.2241C-0.1278 14.569 0.11871 15 0.513124 15H16.4869C16.8813 15 17.1278 14.569 16.9306 14.2241L8.94372 0.25862ZM9.08976 10.699L9.2033 4.26725H7.76666L7.88019 10.699H9.08976ZM7.86709 13.1235C8.03885 13.294 8.24554 13.3792 8.48716 13.3792C8.64436 13.3792 8.78846 13.3395 8.91946 13.2602C9.05046 13.1808 9.15527 13.075 9.23387 12.9428C9.31538 12.8076 9.35759 12.6592 9.3605 12.4976C9.35759 12.2566 9.27026 12.0508 9.0985 11.8804C8.92674 11.707 8.72296 11.6203 8.48716 11.6203C8.24554 11.6203 8.03885 11.707 7.86709 11.8804C7.69534 12.0508 7.61091 12.2566 7.61382 12.4976C7.61091 12.7415 7.69534 12.9501 7.86709 13.1235Z' fill='%23FFD850'/%3E%3C/svg%3E");

    @apply tw-absolute tw-top-1/2 tw-left-0 -tw-translate-y-1/2;
  }
}
