@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./styles/material/mat-theme";
@import "./styles/reset";
@import "./styles/components";

body {
  @extend .csd-scroll;
  background-color: #101010;

  @apply tw-bg-cover tw-bg-center tw-bg-no-repeat;
  background-image: url("/assets/images/main-bg.svg");
  height: 100%;
}

html,
body,
pm-root {
  @apply tw-min-h-screen tw-grid tw-p-0 tw-m-0;
  @apply tw-text-white;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
}

.pm-container {
  @apply tw-bg-secondary tw-rounded-[5px] tw-px-2.5 tw-grid;
}
